<div class="col-md-3">
    <div class="sidebar">
        <h5 class="sidebar-title mb-3">Menu</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link">
                    <i class="bi bi-house-door"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="/demo" class="nav-link">
                    <i class="bi bi-gear"></i> Demo
                </a>
            </li>
            <li class="nav-item">
                <a href="/target" class="nav-link">
                    <i class="bi bi-person"></i> Target
                </a>
            </li>
            <li class="nav-item">
                <a href="/logout" class="nav-link">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </a>
            </li>
        </ul>
    </div>
</div>

<style>

</style>